<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Internal Control Dashboard</title>
        <link rel="stylesheet" href="stylesheets/index.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>

<body>
    
    <div class="page-wrapper">
        
       
        <div class="welcome">
            <h1>Internal Control & Due Diligence Dashboard</h1>
            <p>Your centralized hub for real-time exception management, risk mitigation, and compliance reporting.</p>
        </div>
        
        <div class="login-profile">
            <div class="img-container">
                <img src="images/OmniBSIC_Bank_Logo.svg" id="logo" alt="OmniBSIC Bank Logo"/>
            </div>
                <div class="login">
                    <h2>Welcome Back</h2>
                    <p>Sign in to your account to continue</p>
                    <a href="memberboard.html" class="btn-microsoft">
                        <i class="fab fa-windows"></i> Sign in with Microsoft
                    </a>
                </div>
        </div>

        <div class="footer">
            <!-- Left Flank -->
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <span class="divider">|</span>
                <a href="#">Security Guidelines</a>
            </div>

            <div class="footer-copyright">
                <p>&copy; 2026 OmniBSIC Bank. All rights reserved.</p>
            </div>

            <div class="footer-support">
                <a href="mailto:itsupport@omnibsic.com">
                    <i class="support-icon">✉</i> IT Support Helpdesk
                </a>
            </div>
        </div>
    </div>
</body>
</html>